body {
  font-family: sans-serif;
  background-color: #040404;
  color: white !important;
  position: relative;
  background: transparent;
  font-family: 'Akaya Telivigala', cursive;
  font-family: 'Roboto Slab', serif;
}

body::before {
  content: "";
  position: fixed;
  background: #121516 top right no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

.skillsThing {
  padding-top: 10px;
}

#message {
  height: 200px;
}

.work {
  padding-top: 10px;
}

.work-container {
  background: #424444;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}

.messageLabel {
  width: 300px;
}

.googleMap {
  border-radius: 15px;
  text-align: center;
  margin-top: 10px;
}

.googleMap p {
  text-align: center;
  padding-left: 100px;
}

.resumeText {
  color: #00f7ff;
  text-decoration: none;
}

.resumeText:hover {
  color: #500bf1;
  text-decoration: none;
}

.threeD {
  -webkit-box-shadow: -3px 3px grey, -2px 2px grey, -1px 1px grey;
          box-shadow: -3px 3px grey, -2px 2px grey, -1px 1px grey;
}

.contact {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px white solid;
  width: 150px;
  text-align: center;
  background-color: #424444;
}

.socialButton {
  margin-left: 8px;
}

.btnHeight {
  height: 42px;
}

.emailButton {
  color: white;
}

.emailButton:hover {
  color: #00f7ff;
}

.rowSpace {
  padding-bottom: 10px;
}

.gitImage {
  width: 150px;
  height: 150px;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  color: white;
}

.btnBackground {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  margin-bottom: 10px;
  width: 15%;
  text-align: center;
}

div .card {
  background-color: #797575;
  margin: 20px;
  border-radius: 15px;
}

div card-body {
  border-radius: 15px;
}

div img {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.bg-dark {
  background-color: #121516 !important;
}

.navbar {
  background-color: darkcyan;
}

a {
  color: greenyellow;
  text-decoration: none;
}

a:hover {
  color: green;
  text-decoration: none;
}

#landing {
  width: 100%;
  height: 100vh;
  background: url(https://images.pexels.com/photos/5088435/pexels-photo-5088435.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-color: #3141f1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231b87d5'/%3E%3Cstop offset='1' stop-color='%231b87d5' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23198ef7'/%3E%3Cstop offset='1' stop-color='%23198ef7' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2312cdc9'/%3E%3Cstop offset='1' stop-color='%2312cdc9' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%233141f1'/%3E%3Cstop offset='1' stop-color='%233141f1' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231fa097'/%3E%3Cstop offset='1' stop-color='%231fa097' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2300f7ff'/%3E%3Cstop offset='1' stop-color='%2300f7ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

#landing::before {
  content: "";
  background: rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#landing .landing-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 15px;
}

#landing h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-family: fantasy;
  color: #fff;
}

#landing h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#landing .btn-scroll {
  -webkit-transition: 2s;
  transition: 2s;
  color: darkblue;
  animation: up-down 1 ease-in-out infinite alternate-reverse both;
}

#landing .btn-scroll i {
  font-size: 48px;
}

#landing .btn-scroll:hover {
  color: #500bf1;
}

.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 500;
  font-family: sans-serif;
  color: #fff;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: lightgrey;
  border: 20px;
}

.skills .progress-bar {
  height: 20px;
  -webkit-transition: .9s;
  transition: .9s;
  background: -webkit-gradient(linear, left top, right top, from(#241272), color-stop(#0303a0), to(#10dbdb));
  background: linear-gradient(to right, #241272, #0303a0, #10dbdb);
}

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #4824e6;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: sans-serif;
  color: #10dbdb;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: rgba(255, 255, 255, 0.65);
  padding: 5px 15px;
  display: inline;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 0;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #0303a0;
  border: 2px solid cyan;
}
/*# sourceMappingURL=style.css.map */