body{
    font-family: sans-serif;
    background-color: #040404;
    color: rgb(255, 255, 255)!important;
    position: relative;
    background: transparent;
    font-family: 'Akaya Telivigala', cursive;
    font-family: 'Roboto Slab', serif;

&::before{
    content: "";
    position: fixed;
    // background: #040404 top right no-repeat; // can place an image if you want
    background:     #121516 top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
}
}

.skillsThing{
    padding-top: 10px;
}

.schoolBtn{
    color: white;
    // background-color: rgba(255, 255, 255, 0.151);
    &:hover{
        color: rgb(0, 247, 255);
        
    }
}

#message{
    height: 200px;
}

.work{
    padding-top: 10px;
}

.cactusButton{
    width: 20px!important;
    background: none;
}

.work-container{
    background: #424444;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}

.messageLabel{
    width: 300px;
}

.googleMap{
    border-radius: 15px;
    text-align: center;
    margin-top: 10px;
    p{
        text-align: center;
        padding-left: 100px;
    }
}

.resumeText{
        color: rgb(0, 247, 255);
        text-decoration: none;
    
        &:hover{
            color: rgb(80, 11, 241);
            text-decoration: none;
        }
}

.threeD{
    box-shadow: -3px 3px grey, -2px 2px grey, -1px 1px grey;
}

.contact{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px white solid;
    width: 150px;
    text-align: center;
    background-color: #424444;
    border-radius: 50px;
    align-items: center;
}

// .rightNav{
//     margin-left: 75%;
// }

.socialButton{
    margin-left: 8px;
}

// .yMessage{
//     width: 150px;
// }

// .textCenter{
//     text-align: center;
// }

// .wBtn{
//     padding-top: px;
// }

// .btnHeight{
//     text-align: center;
//     align-items: center;
//     justify-content: center;
// }

.emailButton{
    color: white;
    &:hover{
        color: rgb(0, 247, 255);
        
    }
}

.socialsH4{
    text-align: center;
    justify-content: center;
}

.rowSpace{
    padding-bottom: 10px;
}

.gitImage{
    width: 150px;
    height: 150px;
}

.back-to-top{
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    color: white;
}

.normalText{
    color: white;
    font-size: 40px;
    font-family: 'Special Elite', cursive;
    margin-bottom: 5px;
    text-align: center;
    &:hover{
        color: white;
    }
}

.btnBackground{
    background-color: rgba(255, 255, 255, 0.151);
    border-radius: 20px!important;
    margin-bottom: 10px;
    // width: 15%;
    text-align: center;
    font-size: .25rem;
    &:hover{
        background-color: rgba(255, 255, 255, 0.747);
    }
}

.dark-mode {
    background-color: white;
    color: black;
  }

.dark-button{
      background-color: white!important;
      background-image: url(images/black-crescent-moon-png-2.jpg)!important;
      background-repeat: no-repeat;
      background-size: cover;

  }

.light-button{
    background-color: white;
    background-image: url(images/brightness-high.svg);
}

.socialFont{
    font-size: 1rem;;
}

.resumeButton{
    background-color: rgba(255, 255, 255, .2)!important;
    border-radius: 20px!important;
    margin-bottom: 10px;
    // width: 15%;
    text-align: center;
    font-size: .25rem;
}

div{
    .card{
        background-color: rgb(121, 117, 117);
        margin: 20px;
        border-radius: 15px;
    }
    card-body{

        border-radius: 15px;
    }

    img{
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.bg-dark{
    background-color: #121516!important;
}

.navbar{
    background-color: darkcyan;
}

a{
    color: greenyellow;
    text-decoration: none;

    &:hover{
        color: green;
        text-decoration: none;
    }
}

#landing{
    width: 100%;
    height: 100vh;
    background: url(https://images.pexels.com/photos/5088435/pexels-photo-5088435.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-color: #3141f1;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231b87d5'/%3E%3Cstop offset='1' stop-color='%231b87d5' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23198ef7'/%3E%3Cstop offset='1' stop-color='%23198ef7' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2312cdc9'/%3E%3Cstop offset='1' stop-color='%2312cdc9' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%233141f1'/%3E%3Cstop offset='1' stop-color='%233141f1' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231fa097'/%3E%3Cstop offset='1' stop-color='%231fa097' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2300f7ff'/%3E%3Cstop offset='1' stop-color='%2300f7ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
position: relative;

    &::before{
        content: "";
        background: rgba(0, 0, 0, 0);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    .landing-container{
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 15px;;
    }

    .button-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0 15px;
    }

    h1{
        margin: 0 0 10px 0;
        font-size: 64px;
        font-family: fantasy; //update later
        color: #fff;
    }

    h2{
        color: #eee;
        margin-bottom: 50px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .btn-scroll{
        transition: 2s;
        color: darkblue;
        animation: up-down 1 ease-in-out infinite alternate-reverse both;


        i{
            font-size: 48px;
        }

        &:hover{
            color: rgb(80, 11, 241);
        }

    }
}

.skills{
    .progress{
        height: 60px;
        display: block;
        background: none;
        border-radius: 0;

        .skill{
            padding: 10px 0;
            margin: 0;
            text-transform: uppercase;
            display: block;
            font-weight: 500;
            font-family: sans-serif;
            color: #fff;
            .val{
                float: right;
                font-style: normal;
            }
        }
    }

    .progress-bar-wrap{
        background: lightgrey;
        border: 20px;
    }

    .progress-bar{
        height: 20px;
        transition: .9s;
        background: linear-gradient( to right, rgb(36, 18, 114), rgb(3, 3, 160), rgb(16, 219, 219));
    }

}

.resume{
    .resume-title{
        font-size: 26px;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #fff;
    }

    .resume-item{
        padding: 0 0 20px 20px;
        margin-top: -2px;
        border-left: 2px solid rgb(72, 36, 230);
        position: relative;
        h4{
            line-height: 18px;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: sans-serif;
            color: rgb(16, 219, 219);
            margin-bottom: 10px;
        }
        h5{
            font-size: 16px;
            background: rgba(255, 255, 255, 0.65);
            padding: 5px 15px;
            display: inline;
            font-weight: 600;
            margin-bottom: 10px;
        }
        ul{
            padding-left: 20px;
            li{
                padding-bottom: 0;
            }
        }

        &:last-child{
            padding-bottom: 0;
        }

        &::before{
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50px;
            left: -9px;
            top: 0;
            background: rgb(3, 3, 160);
            border: 2px solid rgb(0, 255, 255);
        }
    }
}